/* style.css */
body {
    background-attachment: fixed;
    background-color: darkgreen;
    color: beige;
    text-align: center;
    font-size: 22px;
    
}
ul {
    color: white;
}

* {
    outline: 2px solid red;
  }
  